body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
    
}

input {
    padding: 10px;
}

button {
    padding: 10px;
    cursor: pointer;
}

table tr th {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 10px;
}

