*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Rất quan trọng để các đơn vị vh hoạt động chính xác trên các phần tử con */
    overflow-x: hidden; /* Ngăn thanh cuộn ngang */
}




/* Header */
/* Header-content */
.header-content {
    background-color: #081a28;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 20px;
}

.content-contact {
    display: flex;
    align-items: center;
    gap: 50px;
}

.contact-fb i,
.contact-phone i {
    margin-right: 15px;
    color: #7ab278;
}

.content-icon {
    display: flex;
    gap: 30px;
}

.content-icon .content-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.content-title p {
    color: #7ab278;
    font-size: 1.2rem;
}

.content-ic {
    display: flex;
    gap: 30px;
    align-items: center;
}
/* Header-Navigation */
.header-nav { 
   background-color: #f8f9fa;
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding:20px 30px;
}

.header-nav .logo h2 {
    color: #047857;
    font-size: 2rem;
}

/* Navigation */
.header-nav nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.header-nav nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    padding: 10px;

}

.header-nav nav ul li a:hover,
.header-nav nav ul li a.active {
    color: #047857;
    border-bottom: 2px solid #047857;
}

/* Icon */

.header-nav .icon {
    font-size: 1.5rem;
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.greentingSection {
    display: none;
}

.icon a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
}

.header-nav .icon .icon-search:hover,
.header-nav .icon .icon-shopping:hover {
    color: #047857;
}

/* main */
/* .banner-content {
    width: 100%;
    height: auto;
} */

.banner {
    background-image: url(/assets/about-images/breadcrumb-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.banner-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner-text h1 {
    font-size: 3rem;
}

.banner-text .banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner-title a,
.banner-title i,
.banner-title span {
    font-size: 1.2rem;
}

.banner-title a {
    text-decoration: none;
    color: black;
}

.banner-title span {
    color: #7ab278;
}

/* main */
/* .banner-content {
    width: 100%;
    height: auto;
} */

.banner {
    background-image: url(/JS30DAY/bookstore_website/assets/about-images/breadcrumb-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.banner-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner-text h1 {
    font-size: 3rem;
}

.banner-text .banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner-title a,
.banner-title i,
.banner-title span {
    font-size: 1.2rem;
}

.banner-title a {
    text-decoration: none;
    color: black;
}

.banner-title span {
    color: #7ab278;
}


/* main-container */

.main-container {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 15px;
}

.container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid gainsboro;
    padding: 20px ;
    border-radius: 10px;
}

.title-1 p {
    color: #797979;
    font-size: 1.2rem;
}

.title-2 {
    display: flex;
    gap: 30px;
    align-items: center;
}

.title-2 p {
    color: #797979;
    font-size: 1.2rem;
}

.title-2 i:hover {
    cursor: pointer;
    color: #7ab278;
}

.books-list-1 {
    display: flex;
    align-items: center;
    gap: 50px;
    border: 1px solid gainsboro;
    padding: 15px ;
    border-radius: 10px;
}

.books-list-2 {
    display: flex;
    align-items: center;
    gap: 50px;
    border: 1px solid gainsboro;
    padding: 15px ;
    border-radius: 10px;
}

.books-list-3 {
    display: flex;
    align-items: center;
    gap: 50px;
    border: 1px solid gainsboro;
    padding: 15px ;
    border-radius: 10px;
}

.books-list-4 {
    display: flex;
    align-items: center;
    gap: 50px;
    border: 1px solid gainsboro;
    padding: 15px ;
    border-radius: 10px;
}

.list-cover {
    width: 550px;
    height: 350px;
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    object-fit: contain;
}

.cover-img {
    padding: 20px;
}

.list-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.list-text h2 {
    font-size: 1.8rem;
    color: black;
    cursor: pointer;
    transition: color 0.5s ease;
}

.list-text h2:hover {
    color: #7ab278;
}

.list-text span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #7ab278;
}

.text-star {
    color: #7ab278;
    font-size: 1.2rem;
    padding: 10px 0; 
}

.text-content {
    color: #797979;
    font-size: 1.1rem;
    padding-bottom: 20px;
    font-weight: 540;
}

.text-btn {
    display: flex;
    gap: 20px;
    align-items: center;
}

.text-btn a {
    text-decoration: none;
    color:#7ab278;
    font-size: 1.2rem ;
    font-weight: bold;
    padding: 15px 60px;
    background-color: #f5f5f5;
    border-radius: 30px;
    background-image: linear-gradient(to right, #7ab278, #7ab278);
    background-repeat: no-repeat;
    background-size: 0% 100%;
    transition: background-size 0.6s ease,
                color 0.6s ease;
}

.text-btn a:hover {
    background-size: 100% 100%;
    color: white;
}

.text-btn ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

.text-btn ul li {
    list-style: none;
    
}

.text-btn ul li a {
    background-color: white;
    color: gray;
    padding: 10px;
    border: 1px solid gainsboro;
    border-radius: 50px;
    transition: color 0.5s ease,
                background-color 0.5s ease;
}

.text-btn ul li a:hover {
    background-color: #7ab278;
    color: white;
}

/* pagination-list */

.pagination-list {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.pagination-list p {
    background-color: white;
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    transition: background-color 0.4s ease,
                color 0.3s ease;
}

.pagination-list p:hover {
    background-color: #7ab278;
    color: white;
}


.pagination-list ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 20px;
}


.pagination-list ul li a {
    text-decoration: none;
    padding: 15px 25px;
    color: black;
    font-weight: bold;
    background-color: #f5f5f5;
    border-radius: 8px;
    transition: background-color 0.4s ease,
                color 0.3s ease;
}

.pagination-list ul li a:hover {
    background-color: #7ab278;
    color: white;
}


/* Footer */

.container-head {
    background-color: #3CA25A;
    text-align: center;
    padding: 50px 0;
}

.content-head {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-head h2 {
    font-size: 2rem;
}

.content-head span {
    font-size: 1.2rem;
}

.content-search {
    display: flex;
    justify-content: center;
}

.content-head input {
    width: 300px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.content-head button {
    padding: 7px 20px;
    background-color: #047857;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.content-head button:hover {
    background-color: #146c43;
}

.container-foot {
    background-color: #0E2C3F;
}

.content-foot {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px 0;
}

.title-foot h2 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 1.5rem;
}

.title-foot p {
    font-size: 1.2rem;
}

.link-foot h2 {
    margin-bottom: 20px;
    font-weight: normal;
}

.link-foot ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
}

.link-foot ul li a {
    text-decoration: none;
    color: white;
}

.help-foot h2 {
    margin-bottom: 20px;
    font-weight: normal;
}

.help-foot ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
}

.help-foot ul li a {
    text-decoration: none;
    color: white;
}

.contact-foot h2 {
    margin-bottom: 20px;
    font-weight: normal;
}

.contact-foot p {
    margin-top: 10px;
}


.copyright {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: 30px 60px;
    border-top: 1px solid gainsboro;
    margin-top: 10px;
}

