*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; /* Rất quan trọng để các đơn vị vh hoạt động chính xác trên các phần tử con */
    overflow-x: hidden; /* Ngăn thanh cuộn ngang */
}




/* Header */
/* Header-content */
.header-content {
    background-color: #081a28;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 15px 20px;
}

.content-contact {
    display: flex;
    align-items: center;
    gap: 50px;
}

.contact-fb i,
.contact-phone i {
    margin-right: 15px;
    color: #7ab278;
}

.content-icon {
    display: flex;
    gap: 30px;
}

.content-icon .content-title {
    display: flex;
    gap: 10px;
    align-items: center;
}

.content-title p {
    color: #7ab278;
    font-size: 1.2rem;
}

.content-ic {
    display: flex;
    gap: 30px;
    align-items: center;
}
/* Header-Navigation */
.header-nav { 
   background-color: #f8f9fa;
    display: flex;
   justify-content: space-between;
   align-items: center;
   padding:20px 30px;
}

.header-nav .logo h2 {
    color: #047857;
    font-size: 2rem;
}

/* Navigation */
.header-nav nav ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.header-nav nav ul li a {
    text-decoration: none;
    font-size: 1.3rem;
    color: black;
    padding: 10px;

}

.header-nav nav ul li a:hover,
.header-nav nav ul li a:active {
    color: #047857;
    border-bottom: 2px solid #047857;
}

/* Icon */

.header-nav .icon {
    font-size: 1.5rem;
    display: flex;
    gap: 30px;
    cursor: pointer;
}

.header-nav .icon .icon-search:hover,
.header-nav .icon .icon-shopping:hover {
    color: #047857;
}

/* main */
/* .banner-content {
    width: 100%;
    height: auto;
} */

.banner {
    background-image: url(/assets/about-images/breadcrumb-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.banner-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner-text h1 {
    font-size: 3rem;
}

.banner-text .banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner-title a,
.banner-title i,
.banner-title span {
    font-size: 1.2rem;
}

.banner-title a {
    text-decoration: none;
    color: black;
}

.banner-title span {
    color: #7ab278;
}

/* main */
/* .banner-content {
    width: 100%;
    height: auto;
} */

.banner {
    background-image: url(/JS30DAY/bookstore_website/assets/about-images/breadcrumb-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 300px;
}

.banner-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.banner-text h1 {
    font-size: 3rem;
}

.banner-text .banner-title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.banner-title a,
.banner-title i,
.banner-title span {
    font-size: 1.2rem;
}

.banner-title a {
    text-decoration: none;
    color: black;
}

.banner-title span {
    color: #7ab278;
}

/* main container */


.main-container {
    padding: 30px;
    display: flex;
    margin-top: 150px;
    gap: 50px;
}

.side-bar {
    flex: 1.6;
    display: flex;
    flex-direction: column;
}

.sidebar-container {
    padding: 30px;
    background-color: #7ab278;
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-radius: 30px 30px 0 0;
} 

.sidebar-1 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    color: white;
    /* font-size: 1.2rem; */
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}


.sidebar-2 {
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    color: white;
    /* font-size: 1.2rem; */
    padding-bottom: 20px;
    border-bottom: 2px solid white;
}

.sidebar-3{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    color: white;
    /* font-size: 1.2rem; */
    /* padding-bottom: 20px;
    border-bottom: 2px solid white; */
}

.sidebar-icon {
    padding: 20px;
    border: 2px dashed white;
    border-radius: 50px;
}

.sidebar-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
}

.sidebar-text span {
    font-size: 1.2rem;
}

.sidebar-text p {
    font-size: 2rem;    
    font-weight: bold;
}

.sidebar-video {
    width: 100%;
}

.sidebar-video iframe {
    width: 100%;
    height: 200px;
    /* display: block; */
    border-radius: 0 0 30px 30px;
   

}

.main-content {
    flex: 3;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.main-content h2 {
    font-size: 2.7rem;
    /* margin-bottom: 5px; */
}

.main-container .content-title {
    color: #797979;
    font-size: 1.2rem;
    
}

.content-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.content-search  .text-name {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.content-search .search-name .inp-search {
    font-size: 2.2rem;
    padding: 10px;
}

.content-search .search-email .inp-search {
    font-size: 2.2rem;
    padding: 10px;
}

.content-write p {
    font-size: 1.2rem;
    margin-bottom: 20px;
}



/* Footer */
.container-head {
    background-color: #3CA25A;
    text-align: center;
    padding: 50px 0;
}

.content-head {
    color: white;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.content-head h2 {
    font-size: 2rem;
}

.content-head span {
    font-size: 1.2rem;
}

.content-search {
    display: flex;
    justify-content: center;
}

.content-head input {
    width: 300px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    border: none;
}

.content-head button {
    padding: 7px 20px;
    background-color: #047857;
    color: white;
    font-weight: bold;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.5s ease;
}

.content-head button:hover {
    background-color: #146c43;
}

.container-foot {
    background-color: #0E2C3F;
}

.content-foot {
    display: flex;
    justify-content: space-around;
    color: white;
    padding: 20px 0;
}

.title-foot h2 {
    margin-bottom: 20px;
    font-weight: normal;
    font-size: 1.5rem;
}

.title-foot p {
    font-size: 1.2rem;
}

.link-foot h2 {
    margin-bottom: 20px;
    font-weight: normal;
}

.link-foot ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
}

.link-foot ul li a {
    text-decoration: none;
    color: white;
}

.help-foot h2 {
    margin-bottom: 20px;
    font-weight: normal;
}

.help-foot ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 1.2rem;
}

.help-foot ul li a {
    text-decoration: none;
    color: white;
}

.contact-foot h2 {
    margin-bottom: 20px;
    font-weight: normal;
}

.contact-foot p {
    margin-top: 10px;
}


.copyright {
    color: white;
    text-align: center;
    font-size: 1.2rem;
    padding: 30px 60px;
    border-top: 1px solid gainsboro;
    margin-top: 10px;
}




