body {
    margin: 0;
    padding: 0;
}

.container {
    /* background-color: gainsboro; */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    background-color: gainsboro;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.image-viewer {
    display: flex;
    flex-direction: column;
    gap: 30px;  
}

.controls {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

#prevBtn,
#nextBtn {
    padding: 15px 50px;
    cursor: pointer;
}

