body {
    margin: 0;
    padding: 0;
    background-color: gainsboro;
}

.container h2 {
    font-size: 2rem;
    text-align: center;

}

.content {
    padding: 30px 50px;
    width: 550px;
    margin-left: 400px;
/*    
    position: relatve;
    left: 500px; */
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

button {
    padding: 10px 40px;
    cursor: pointer;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 40px;

}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #f2f2f2;
}

